.header-timeline {
  width: 100%;
  display: flex;
  justify-content: center;
  /*background-color: red;*/
  border-bottom: solid 10px rgb(107, 55, 148);
  background-color: rgb(46, 46, 46);
  padding: 10px;
}

.sub-header-timeline {
  max-width: 1200px;
  width: 100%;
  /*background-color: blue;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.sub-header-timeline a img {
  border-radius: 100%;
}

.notificaciones-timeline a img {
  border-radius: 100%;
}

.menu-timeline {
  color: white;
}

.menu-timeline a {
  padding: 4px;
  border-radius: 10px;;
  text-decoration: none;
  color: white;
}

.menu-timeline a:hover {
  background-color: rgb(107, 55, 148);
}

.perfil-timeline {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  padding: 8px;
  border-radius: 10px;
}

.perfil-timeline a span {
  color: white;
  padding-right: 5px;
}

.perfil-timeline a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.foto-en-timeline {
  padding: 5px;
  background-color: white;
}

.perfil-timeline:hover {
  background-color: rgb(107, 55, 148);
}

.buscador-area {
  background-color: white;
  border: solid 2px grey;
  padding: 5px 10px;
  width: 30%;
  border-radius: 10px;
}

.buscador {
  border-style: none;
  width: 100%
}

.menu-timeline {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 15%;
}

.timeline-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
}

.timeline-left {
  border: 1px black solid;
  border-radius: 10px;
  width: 20%;
  background-color: white;
}



.timeline-center {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 40%;
  margin: 0 2.5%
}

.timeline-right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px black solid;
  border-radius: 10px;
  width: 20%;
  background-color: white;
}



.publicacion {
  width: 100%;
  border: 2px black solid;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 20px;
  padding: 5px;
}

.publicacion {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.usuario-foto-publicacion {
  width: 100%;
}
.usuario-foto-publicacion a span {
  padding-right: 5px;
  color: rgb(107, 55, 148);
}

.usuario-foto-publicacion a span:hover {
  text-decoration: underline;
}

.usuario-foto-publicacion a {
  text-decoration: none;
}

.foto-perfil-en-publicacion {
  padding: 5px;
  background-color: white;
}

.fecha-hora a {
  text-decoration: none;
  color: rgb(148, 148, 148);
  font-size: 14px;
  padding-left: 5px;
  padding-bottom: 5px;
}

.fecha-hora a:hover {
  text-decoration: underline;
}

.texto-publicacion {
  padding: 10px;
}

.ver-publ-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
}

.ir-a-publicacion {
  background-color: #e9ebee;
  padding: 8px;
  border-radius: 10px;
  border: solid 2px black;
}

.ir-a-publicacion a {
  text-decoration: none;
  color: black;
}

.ir-a-publicacion:hover {
  background-color: rgb(107, 55, 148);
}

.ir-a-publicacion a:hover {
  color: white;
}

.multimedia-publicacion {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.multimedia-publicacion img {
  width: 80%;
  padding: 10px;
  border-radius: 30px;
}
