.header-timeline {
  width: 100%;
  display: flex;
  justify-content: center;
  /*background-color: red;*/
  border-bottom: solid 10px rgb(107, 55, 148);
  background-color: rgb(46, 46, 46);
  padding: 10px;
}

.sub-header-timeline {
  max-width: 1200px;
  width: 100%;
  /*background-color: blue;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.sub-header-timeline a img {
  border-radius: 100%;
  padding-left: 10px;
}

.notificaciones-timeline a img {
  border-radius: 100%;
}

.menu-timeline {
  color: white;
}

.menu-timeline a {
  padding: 4px;
  border-radius: 10px;;
  text-decoration: none;
  color: white;
}

.menu-timeline a:hover {
  background-color: rgb(107, 55, 148);
}

.perfil-timeline {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  padding: 4px;
  border-radius: 10px;
}

.perfil-timeline a {
  color: white;
  text-decoration: none;
}

.perfil-timeline:hover {
  background-color: rgb(107, 55, 148);
}

.perfil-timeline a img {
  border-radius: 100%;
  padding-right: 10px;
}

.buscador-area {
  background-color: white;
  border: solid 2px grey;
  padding: 5px 10px;
  width: 30%;
  border-radius: 10px;
}

.buscador {
  border-style: none;
  width: 100%
}

.menu-timeline {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 15%;
}

.timeline-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
}

.timeline-left {
  border: 1px black solid;
  border-radius: 10px;
  width: 20%;
  background-color: white;
}

.timeline-center {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 40%;
  margin: 0 2.5%
}

.timeline-right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px black solid;
  border-radius: 10px;
  width: 20%;
  background-color: white;
}

.publicacion {
  width: 100%;
  border: 1px black solid;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 20px;
  padding: 5px;
}

.publicacion h6 {
  margin: 0;
}
