@import "_home.css";
@import "_profile.css";
@import "_timeline.css";
@import "_faq.css";
@import "_login.css";
@import "_register.css";

* {
  box-sizing: border-box;
}

body {
  margin: auto;
  background-color: #e9ebee;
  font-size: 20px;
  font-family: arial, sans-serif;
}
